.modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
    
}

.modal.show .modal-dialog {
    transform: none;
}
.modal {
    --bs-modal-margin: 8.75rem !important;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.modal-lg, .modal-xl{
    --bs-modal-width: 90% !important;
    border-radius: 48px 0px 0px 0px !important;
}

.confirmation{
    cursor: pointer;
}
.pdf-downloader-div{
    background: rgba(214, 214, 214, 0.3);
}

.modal-content{
    border-radius: 48px 0px 0px 0px !important;
    padding: 35px !important;
}
.modal-header .btn-close{
    position: absolute;
    left: -23px;
    top: 85px;
    background-color: #8F8F8F;
    border-radius: 50%;
    opacity: 100%;
    border: 7px solid #2C2C2C;
}