/* .user-card{
    display: inline-flex;
} */
small {
    letter-spacing: 1px;
}

.offcanvas.offcanvas-start {
    border-radius: 48px 0px 0px 0px;
    right: 0 !important;
    bottom: 0 !important;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
    padding-left: 20px;
}

/* .offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none !important;
} */
.offcanvas.offcanvas-start {
    left: auto;
    bottom: 0 !important;
    /* top: inherit !important; */
    bottom: 0 !important;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
    min-height: 600px !important;
}

.confirmation {
    cursor: pointer;
}

.car-img {
    object-fit: contain;
    width: 100%;
}

.service-mil-modal-title {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.service-mil-modal-km {
    font-weight: 400;
    font-size: 16px;
}

.offcanvas.offcanvas-start .btn-close {
    position: absolute;
    left: -23px;
    top: 85px;
    background-color: #8F8F8F;
    border-radius: 50%;
    opacity: 100%;
    border: 7px solid #686868eb;
    outline: none;
}

.mil-service-option {
    background-color: #D8D8D8;
    font-size: 15px;
    padding: 9px 7px;
    border-radius: 4px;
    width: 60%;
}

.active-mil-service-option-yes {
    background-color: #000000;
    font-size: 15px;
    padding: 9px 7px;
    color: #fff;
    border-radius: 4px;
    width: 18%;
    text-align: center;
}

.mil-service-option-no {
    background-color: #000000;
    font-size: 15px;
    padding: 9px 7px;
    /* color: #000000; */
    border: 1px solid#D8D8D8;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    width: 18%;
    text-align: center;
}

.mil-service-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.mil-service-btn-col {
    margin-top: 30px;
    text-align: end;
}

.mil-service-update-btn {
    background-color: #000000;
    font-size: 15px;
    padding: 9px 15px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
}

.mil-service-update-btn:hover {
    background-color: #000000;
    border-color: #000000;
}

.mil-service-cancel-btn {
    background-color: transparent;
    color: #000000 !important;
    font-size: 15px;
    padding: 9px 15px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
}

.mil-service-cancel-btn:hover {
    background-color: #fff;
    border-color: #fff;
}
.active-inspection-details-option-yes{
    background-color: #F9851A;
    font-size: 15px;
    border: none;
    padding: 9px 7px;
    color: #fff;
    border-radius: 4px;
    width: 18%;
    text-align: center;
}

.offcanvas {
    bottom: 0 !important;
}

.view-buttons button:nth-child(5) {
    margin: auto;
    position: absolute;
    top: 79%;
    right: 80px;
}

.view-buttons button:nth-child(6) {
    margin: auto;
    position: absolute;
    top: 79%;
    left: 80px;
}

.btn:active:focus-visible {
    box-shadow: transparent !important;
    border-color: transparent !important;
}

.btn-close:focus {
    box-shadow: none !important;
}

.iDetailbtn {
    border-radius: 0 !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    border-color: transparent;
}

.Milagemodal {
    top: auto !important;
}
.mil-in-sys-input-div{
    position: relative;
}
.mil-in-sys-input-icon{
    position: absolute;
    top: 62%;
    right: 4%;
    cursor: pointer;
}
